html {
  font-size: 100%;
}

body {
  padding: 20px;
  margin: 0;
  background-color: #ffffff;
  font-family: arial, sans-serif;
  height: 100vh;
}

header {
  display: grid;
  text-align: center;
  height: 5rem;
  padding-top: 0.3rem;
  background-color: #242021;
  color: #fff;
  font-size: 0.9rem;
  text-transform: uppercase;
}

nav ul {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
  justify-items: center;
  list-style-type: none;
}

nav ul li {
  background-color: #293030;
  border: 1px solid #bb4430;
  padding: 1em 4em 1em 4em;
  font-weight: bold;
}

nav ul li a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

nav ul li a:hover {
  color: #E0A20B;
  text-transform: uppercase;
  text-decoration: none;
}

.wrapper {
  background-color: #1DA1F2;
  margin: 0 2em 0 2em;
}

#primary {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
  padding: 0 0 1rem 2rem;
}

#secondary {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
  padding: 0 0 1rem 2rem;
}

#main_article {
  padding: 0 1em 0 1em;
  font-size: 1.3rem;
}

footer {
  display: grid;
  padding-top: 0.3rem;
  height: 8rem;
  background-color: #242021;
  color: #fff;
}
a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

*{
	box-sizing: border-box;
}

.table{
	width: 100%;
	border-collapse: collapse;
}

.table td,.table th{
  padding:12px 15px;
  border:1px solid #ddd;
  text-align: center;
  font-size:16px;
}

.table th{
	background-color: darkblue;
	color:#ffffff;
}

.table tbody tr:nth-child(even){
	background-color: #f5f5f5;
}

/*responsive*/

@media(max-width: 500px){
	.table thead{
		display: none;
	}

	.table, .table tbody, .table tr, .table td{
		display: block;
		width: 100%;
	}
	.table tr{
		margin-bottom:15px;
	}
	.table td{
		text-align: right;
		padding-left: 50%;
		text-align: right;
		position: relative;
	}
	.table td::before{
		content: attr(data-label);
		position: absolute;
		left:0;
		width: 50%;
		padding-left:15px;
		font-size:15px;
		font-weight: bold;
		text-align: left;
	}
}
